body{ /*page background; text color and font*/
    background-color: black;
    color: white;
    font-family: 'Times New Roman', serif; 
}

.nav-bar{ /*sets links to different tabs to the top right of the page*/
    display: flex;
    justify-content: flex-end; 
}

.nav-bar button{ /*links button design*/
    background-color: #FFD700;
    color: black;
    cursor: pointer; /*changes mouse style when hovered over button*/
}

header{ /*centers everything*/
    text-align: center;
}

header img{
    width: 200px; /*sets size of headshot*/
}

details{ /*dropdown menu*/
    background-color: #FFD700;
    padding: 5px;
    border: 1px solid white; /*leave this white to differentiate sections*/
}

details[open]{
    background-color: black; /*black background for open dropdown menu*/
}

summary{ /*dropdown transition*/
    font-size: 1.75em; /*increases default size*/
    cursor: pointer;
}

a{
    color: #FFD700; /*theme color for linkedin link*/
}

p{
    font-size: 1.5em; /*increases default size*/
}