body{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', serif;
}

.nav-bar{ /*sets links to different tabs to the top right of the page*/
    display: flex;
    justify-content: flex-end; 
}

.nav-bar button{ /*links button design*/
    background-color: #FFD700;
    color: black;
    cursor: pointer; /*changes mouse style when hovered over button*/
}

h1, h2{
    color: #FFD700;
}

.organization img{
    max-width: 300px; /*largest allowed width*/
    height: auto; /*without distorting image*/
}

a{
    color: #FFD700; /*theme color for links*/
}