body{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', serif;
}

.nav-bar{ /*sets links to different tabs to the top right of the page*/
    display: flex;
    justify-content: flex-end; 
}

.nav-bar button{ /*links button design*/
    background-color: #FFD700;
    color: black;
    cursor: pointer; /*changes mouse style when hovered over button*/
}

h1{ /*change style*/
    text-align: center;
    font-size: 2.5em;
    color : #FFD700;
}

.center-text{ /*center specific project type*/
    text-align: center;
}

.column ul{ /*no bullet points*/
    list-style: none;
}

.column li p{
    margin-left: 20px; /*indent description*/
}

.external-links{ /*center linkedin and github icons*/
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.external-links img{
    width: 80px;
    height: auto; /*helps to maintain aspect ratio of icon*/
    margin: 10px;
}

a{
    color: #FFD700; /*theme color for links*/
}